@font-face {
  font-family: "Spectral";
  src: url("/assets/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
}

/* -- VARIABLES --- */
:root {
  --dark-grey: #2e2e2e;
  --blue: #348aa7;
  --blue-light: #73bcd4;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Lato", "sans-serif";
  color: var(--dark-grey);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.content-container {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  z-index: 10;
}

.navigation {
  display: flex;

  padding: 2em 5%;

  border-bottom: solid 1px var(--dark-grey);

  justify-content: space-between;
}

.description {
  bottom: 5%;
  left: 5%;
}

.logo-container {
  display: flex;
}

h1 {
  font-family: "Spectral", "times";
  font-size: 18vw;
  margin: 0;
  padding: 0;
  line-height: 14vw;
}

p {
  font-size: 1vw;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-size: 1vw;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: var(--dark-grey);
}

.link-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  margin-top: 0.2em;
  margin-left: 0.4em;
  display: inline;
  width: 2vw;
  transition: 0.2s;
}

.arrow path,
.arrow line {
  transition: 0.2s;
  stroke: var(--dark-grey);
  stroke-width: 0.5;
}

.link-main:hover path:nth-child(2) {
  d: path("M0,5 L8,1");
}

.link-main:hover path:nth-child(3) {
  d: path("M0,5 L8,9");
}

.link-main:visited path:nth-child(2) {
  d: path("M0,5 L8,1");
}

.link-main:visited path:nth-child(3) {
  d: path("M0,5 L8,9");
}

.first-line {
  position: absolute;
  top: -10%;
  left: 0.6%;
}
