@font-face {
  font-family: "Spectral";
  src: url("/assets/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
}

/* -- VARIABLES --- */
:root {
  --dark-grey: #2e2e2e;
  --blue: #348aa7;
  --blue-light: #73bcd4;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Spectral", "times";
  color: var(--dark-grey);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.overlay {
  position: absolute;
  z-index: 10;
}

.links {
  top: 5%;
  left: 5.5%;
}

.description {
  bottom: 5%;
  left: 5%;
}

h1 {
  font-size: 18vw;
  margin: 0;
  padding: 0;
  line-height: 14vw;
}

p {
  font-family: "Lato", "sans-serif";
  font-size: 1vw;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: none;
  color: var(--blue-light);
}

.first-line {
  position: absolute;
  top: -10%;
  left: 0.6%;
}
